<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<!-- 200MB in bytes -->
				<requestLimits maxAllowedContentLength="209715200" />
			</requestFiltering>
		</security>
	</system.webServer>

	<system.web>
		<!-- 200MB in KB -->
		<httpRuntime maxRequestLength="204800" />
	</system.web>
</configuration>
